body {
    background: rgb(246, 252, 255) }
main {
    text-align: center;
    background: rgb(255, 218, 253);
    border-radius: 15px;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }

input{
    font-size: 15px;
}

div{
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}