/*
#E9967A - BODY
#F7FAD2 - RECEITAS
#343A40 - HEADER NAV
*/

*{
    margin: 0%;
    overflow-y: auto;
}

body{
    background-color: #E9967A;
}

header{
    height: 45px;
    background-color: #343A40;
}

a.active{
    color: white;
}

header nav a{
    font-size: 17px;
    color: #a6b6c7;
    text-decoration: none;
}

a:hover{
    color: rgba(255, 255, 255, 0.726);
}

header nav{    
    margin-top: auto;
    margin-bottom: auto;
}

h1{
    padding: 10px;
    font-size: 50px;
}

p{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

footer{
    max-height: 25px;
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;        
    bottom: 0;
    position: fixed;
    width: 100%;
}

.principal{
    text-align: center;
    margin: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

img{
    max-width: 50px;
    min-width: 10px;
}

